.key-bindings {
  display: flex;
  font-size: 90%;
}

.key-bindings>div {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 10px;
}

.key-binding {
  background-color: #ddd;
  border-radius: 2px;
  border: 1px solid #666;
  margin: 2px;
  padding: 0px 6px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  min-width: 2em;
}

dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

dt {
  display: flex;
  justify-content: flex-end;
  width: 20%; 
}
dd {
  width: 78%; 
  display: flex;
  align-items: center;
}


dt, dd {
  background-color: none;
}

dt:nth-child(4n+1), dt:nth-child(4n+1) + dd {
  background-color:rgba(255, 255, 255, 0.3)
}


/* dl {
  width: 100%;
  overflow: hidden;
  background: #ff0;
  padding: 0;
  margin: 0;
  height:auto;
}
dt {
  float: left;
  width: 20%;
  background: #cc0;
  padding: 0;
  margin: 0
}
dd {
  float: left;
  width: 80%;
  background: #dd0;
  padding: 0;
  margin: 0
} */
